body {
    background-color: #DADDE2;
}
main h1 {
    font-family: 'Rubik', sans-serif;
    font-size: 2.5rem;
    font-weight: 400;
    text-align: center;

    margin-top: 1rem;
}

main img {
    width: 90%;
}

.form-fale-conosco {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    margin-bottom: 1rem;
}
.form-fale-conosco form {
    display: flex;
    flex-direction: column;

    width: 80%;
    padding: 1.5rem;
    margin-bottom: 2rem;

    border-radius: 8px;

    background-color: #0E5BCB;
}
.form-fale-conosco form strong {
    font-family: 'Rubik', sans-serif;
    font-size: 30px;
    font-weight: 600;
    text-align: center;
    margin-bottom: 1rem;
    
    color: #fff;
}
.form-fale-conosco form label {
    font-family: 'Inter', sans-serif;
    font-size: 1rem;
    margin-left: 0.4rem;
    margin-bottom: 0.4rem;

    color: #fff;
}
.form-fale-conosco form input, .form-fale-conosco form textarea {
    padding: 0.8rem;
    margin-bottom: 0.8rem;

    border: 1px solid #555555;
    border-radius: 8px;

    background-color: #fff;
}
.form-fale-conosco form input::placeholder, .form-fale-conosco form textarea::placeholder {
    font-family: 'Inter', sans-serif;
    font-size: 1rem;

    color: #646363;
}
.form-fale-conosco form textarea {
    resize: none;
}
.form-fale-conosco form .botao {
    display: flex;
    justify-content: flex-end;
}
.form-fale-conosco form button {
    width: 50%;
    height: 2rem;
    margin-top: 1rem;

    border: 1px solid #555555;
    border-radius: 8px;

    font-size: 1.2rem;

    color: #0E5BCB;
    background-color: #fff;
}
.form-cadastro form span{
    margin-top: 1rem;
    font-family: 'Inter', sans-serif;
    font-size: 1rem;
}
.suport-fale-conosco{
    padding: 1.5rem 0;
    background-color: #303030;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.central-suport{
    text-align: center;
    color: #fff;
    font-family: var(--font-primary);
    font-size: 25px;
}
.clock-suport {
    color: #fff;
    margin-bottom: 15px;
    font-family: var(--font-secondary);
}
.card-suport{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 60%;
    gap: 1rem;
    margin-bottom: 10px;
}
.card-suport p{
    color: #367EE7;
    font-family: var(--font-secondary);
    text-decoration: underline;
}
.card-suport img{
    width: 30px;
    height: 30px;
}

@media (min-width: 1024px) {
    main h1 {
        font-size: 3rem;
        text-align: center;
    }

    .form-fale-conosco {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        margin: 1rem 0;
    }

    .fale-conosco-topo {
        display: flex;
        flex-direction: column;
        width: 28%;
    }

    .form-fale-conosco img {
        width: 100%;
    }
    
    .form-fale-conosco form {
        display: flex;
        flex-direction: column;
    
        width: 30%;
        padding: 3rem;
        margin: 0;
    
        border-radius: 8px;
    
        background-color: #0E5BCB;
    }
    .form-fale-conosco form strong {
        font-family: 'Rubik', sans-serif;
        font-size: 1.8rem;
        font-weight: 600;
        text-align: center;
        margin-bottom: 1rem;
        
        color: #fff;
    }
    .form-fale-conosco form label {
        font-size: 1rem;
    }
    .form-fale-conosco form button {
        width: 30%;
        height: 2.5rem;
        cursor: pointer;
        margin-top: 1rem;
    
        border: 1px solid #555555;
        border-radius: 8px;
    
        font-size: 1.2rem;
    
        color: #0E5BCB;
        background-color: #fff;
    }
    .form-fale-conosco form span{
        margin-top: 1rem;
        font-family: 'Inter', sans-serif;
        font-size: 1rem;
    }
    .central-suport{
        font-size: 35px;
    }
    .clock-suport{
        font-size: 20px;
    }
    .card-suport{
        display: flex;
        width: 20%;
        
    }

    .mensagem-sucesso {
        color: var(--yellow-primary);
        text-align: center;
        margin-left: -300px;
    }
    
    }
