* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --blue-primary: #2644D5;
    --blue-secondary: #367EE7;
    --blue-form: #0E5BCB;
    --yellow-primary: #FAFF00;
    --orange-error: #FF9635;
    --white-transparent: #d2d2d280;
    
    --bg-white: #dadde2;
    --bg-card: #303030;
    --bg-disabled: #30303080;
    
    --border-input: #555555;
    --border: 8px;
    
    --white-text: #FFFFFF;
    --cyan-text: #555555;
    --black-text: #000000;

    --font-primary: 'Rubik', sans-serif;
    --font-secondary: 'Inter', sans-serif;
}

body {
    background-color: var(--bg-white);
    font-family: var(--font-secondary);
}

h1, h2, h3, strong {
    font-family: (--font-primary)
}

.redirecionar {
    color: #FAFF00;
}

.mensagem-sucesso {
    color: var(--yellow-primary);
    text-align: left;
}

.mensagem-erro {
    color: var(--orange-error);
}