#banner {
    width: 100%;
    height: 10rem;

    background-image: url("../assets/img/banner-mobile.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.introduction-home {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
}

.introduction-home h2 {
    width: 100%;
    font-size: 1.5rem;
    font-weight: 500;
    font-family: var(--font-primary);
}

.introduction-home p {
    width: 100%;
    font-size: 1rem;
    font-family: var(--font-secondary);
}

.cards-course-simple {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 3rem;

    margin: 1rem 0;
}

.cards-course-simple article  {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    width: 9rem;
    border-radius: var(--border);

    background-color: var(--blue-secondary);
}

.name-course-simple span {
    width: 100%;
    font-family: var(--font-primary);
    font-size: 0.75rem;
    text-align: center;
    
    color: var(--white-text);
}

.image-course-simple {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 7rem;
}

.image-course-simple img {
    width: 50%;
}

.name-course-simple {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 3rem;

    border-end-start-radius: 8px;
    border-end-end-radius: 8px;

    background-color: var(--bg-card);

}

.study-home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;

    padding: 2rem;

    color: var(--white-text);
    background-color: #303030;
}

.study-home h2 {
    font-family: var(--font-primary);
    font-size: 1.5rem;
    font-weight: 500;
}

.study-home p {
    font-family: var(--font-secondary);
    font-size: 0.8rem;
}

.class-home {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    padding: 0 2rem;
}

.class-home h2 {
    font-family: var(--font-primary);
    font-size: 1.5rem;
    font-weight: 500;

    margin-top: 1rem;
}

.class-home div {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

.card-class-home {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    width: 90%;
    height: fit-content;
    padding: 5%;

    border-radius: var(--border);
    background-color: var(--bg-card);
}

.card-class-home p {
    font-family: var(--font-secondary);
    font-size: 0.8rem;
    color: var(--white-text);
}

.card-class-home img {
    width: 100%;
    height: 100%;
}

.card-class-home h3 {
    font-family: var(--font-primary);
    font-size: 1rem;

    color: var(--white-text);
}

.course-home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    
    margin-top: 3rem;
    padding: 4%;
    
    font-size: 1.25rem;

    color: var(--white-text);
    background-color: var(--bg-card);
}

.course-home h2 {
    font-family: var(--font-primary);
    font-size: 1.5rem;
    font-weight: 500;
    text-align: center;
}

.course-home a {
    margin: 0 auto;
    padding: 2%;

    text-decoration: none;
    font-family: var(--font-primary);
    font-size: 1.25rem;
    text-align: center;
    
    width: 50%;
    border-radius: var(--border);
    background-color: var(--yellow-primary);
    color: var(--black-text);
}

@media (min-width: 700px) {
    #banner {
        height: 15rem;

        background-image: url('../assets/img/banner-desktop-400.jpg');
    }

    .introduction-home h2{
        font-size: 2.25rem;
    }

    .introduction-home p{
        font-size: 1.25rem;
    }

    .image-course-simple img {
        width: 70%;
    }

    .card-course-simple article {
        width: 18rem;
        margin-bottom: 1rem;
    }

    .image-course-simple {
        height: 12rem;
    }

    .name-course-simple {
        height: 4rem;
    }

    .name-course-simple span {
        font-size: 1.25rem;
    }
    
    .introduction-home h2 {
        font-size: 2rem;
        font-weight: 500;
    }
    
    .introduction-home p {
        font-size: 1.5rem;
    }
    
    .cards-course-simple article  {
        width: 16rem;
    }
    
    .image-course-simple img {
        width: 80%;
    }
    
    .name-course-simple {
        width: 100%;
        height: 4rem;
    }
    
    .study-home {
        height: 20rem;
    }
    
    .study-home h2 {
        font-family: var(--font-primary);
        font-size: 2rem;
        font-weight: 500;
    }
    
    .study-home p {
        font-family: var(--font-secondary);
        font-size: 1rem;
    }
    
    .class-home {
        display: flex;
        flex-direction: column;
        gap: 1rem;
    
        padding: 1rem 2rem;
    }
    
    .class-home h2 {
        font-family: var(--font-primary);
        font-size: 2rem;
    
        margin-bottom: 2rem;
    }
    
    .class-home div {
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 8rem;
    }
    
    .card-class-home h3 {
        font-size: 1.5rem;
        font-weight: 500;
    }
    
    .card-class-home p {
        font-size: 1rem;
    }

    .course-home {        
        margin-top: 3rem;
        padding: 2%;
    }
    
    .course-home h2 {
        font-family: var(--font-primary);
        font-size: 2rem;
        font-weight: 500;
        text-align: center;
    }
    
    .course-home a {
        width: 25%;
        padding: 1%;

        font-size: 1.5rem;
    }
}

@media (min-width: 1280px) {
    #banner {
        width: 100%;
        height: 25rem;
        
        background-image: url('../assets/img/banner-desktop-400.jpg');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .introduction-home {
        padding: 3rem;
    }
    
    .introduction-home h2 {
        font-size: 2rem;
        font-weight: 500;
    }
    
    .introduction-home p {
        font-size: 1.5rem;
    }
    
    .cards-course-simple article  {
        width: 16rem;
    }
    
    .image-course-simple img {
        width: 80%;
    }
    
    .name-course-simple {
        width: 100%;
        height: 4rem;
    }
    
    .study-home {
        height: 20rem;
    }
    
    .study-home h2 {
        font-family: var(--font-primary);
        font-size: 2rem;
        font-weight: 500;
    }
    
    .study-home p {
        font-family: var(--font-secondary);
        font-size: 1rem;
    }
    
    .class-home {
        display: flex;
        flex-direction: column;
        gap: 1rem;
    
        padding: 1rem 2rem;
    }
    
    .class-home h2 {
        font-family: var(--font-primary);
        font-size: 2rem;
    
        margin-bottom: 2rem;
    }
    
    .class-home div {
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 8rem;
    }
    
    .card-class-home {    
        width: 24%;
        height: 24rem;
        padding: 2%;
    }
    
    .card-class-home h3 {
        font-size: 2rem;
        font-weight: 500;
    }
    
    .card-class-home p {
        font-size: 1rem;
    }

    .course-home {        
        margin-top: 3rem;
        padding: 2%;
    }
    
    .course-home h2 {
        font-family: var(--font-primary);
        font-size: 2rem;
        font-weight: 500;
        text-align: center;
    }
    
    .course-home a {
        width: 25%;
        padding: 1%;

        font-size: 1.5rem;
    }
}
