main h1 {
    font-family: var(--font-primary);
    font-size: 2.5rem;
    font-weight: 400;
    text-align: center;

    margin-top: 1rem;
}

.login-topo {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-login {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    margin-bottom: 1rem;
}

.form-login img {
    width: 100%;
}

.form-login form strong {
    text-align: center;
    font-size: 2rem;
    color: var(--white-text);
}

.form-login form {
    margin: 3rem 0;
    width: 80%;

    display: flex;
    flex-direction: column;

    padding: 2rem;
    border-radius: var(--border);
    box-shadow: 0px 10px 40px #00000056;

    background-color: var(--blue-form);
}

.form-login-label {
    font-family: var(--font-secondary);
    font-size: 1rem;
    margin-left: 1rem;
    margin-bottom: 0.4rem;

    color: #fff;
}

.form-login-input {
    padding: 0.8rem;
    margin-bottom: 1rem;

    border: 1px solid #555555;
    border-radius: var(--border);

    background-color: #fff;
}

.form-login-input::placeholder {
    font-family: var(--font-secondary);
    font-size: 0.9rem;

    color: var(--cyan-text);
}

.form-lembrar {
    display: flex;
    gap: 0.5rem;
}

.form-lembrar label {
    font-size: 1rem;
    color: var(--white-text);
}

.form-lembrar input[type="checkbox"] {
    width: 24px;
    height: 24px;
    border-radius: 3rem;
}

.form-lembrar input[type="checkbox"]:checked {
    accent-color: var(--yellow-primary);
}

.form-lembrar label {
    font-size: 0.9rem;
}

.form-login form .botao {
    display: flex;
    justify-content: flex-end;
}

.form-login form .botao button {
    width: 50%;
    height: 2rem;
    margin-top: 1rem;

    border: 1px solid #555555;
    border-radius: 8px;

    font-size: 1.2rem;

    color: var(--blue-form);
    background-color: #fff;
}

.form-login form .message {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 1rem;
}

.form-login form .message span {
    width: 80%;
    font-family: var(--font-secondary);
    font-size: 1rem;
    text-align: center;

    color: var(--white-text);
}

@media (min-width: 1024px) {
    main h1 {
        font-size: 3rem;
        text-align: center;
    }

    .form-login {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        height: calc(100vh - 117px);
        margin: 0;
    }

    .login-topo {
        display: flex;
        flex-direction: column;
        width: 28%;
    }

    .form-login img {
        width: 100%;
        margin-left: -20px;
    }

    .form-login form {
        display: flex;
        flex-direction: column;

        width: 30%;
        padding: 3rem;

        border-radius: var(--border);

        background-color: var(--blue-form);
    }

    .form-login form strong {
        font-family: var(--font-primary);
        font-size: 2rem;
        font-weight: 600;
        text-align: center;
        margin-bottom: 1rem;

        color: #fff;
    }

    .form-login form label {
        font-size: 1.25rem;
        margin-left: 2px;
    }

    .form-login form input::placeholder {
        font-size: 1rem;

        color: #646363;
    }

    .form-lembrar label {
        font-size: 0.4rem;
    }

    .form-login form .botao button {
        width: 30%;
        height: 2.5rem;
        cursor: pointer;
        margin-top: 1rem;

        border: 1px solid var(--border-input);
        border-radius: var(--border);

        font-size: 1.25rem;

        color: #0E5BCB;
        background-color: #fff;
    }

    .form-login form span {
        font-size: 1rem;
    }
}

@media (width: 1280px) and (height: 1024px) {
    .login-topo {
        display: flex;
        flex-direction: column;
        width: 40%;
    }

    .form-login form {
        display: flex;
        flex-direction: column;

        width: 40%;
        padding: 3rem;

        border-radius: var(--border);

        background-color: var(--blue-form);
    }
}